# Project exclude paths
/build/
/.idea/
/.gradle/
/log/
/tmp/
/db/
/dependency-reduced-pom.xml
/device.json
/yuq.iml
/src/main/resources/conf/YuQ.properties
/conf/
/cache/servers.json
/cache/session.bin
/out/